@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@utility container {
  margin-inline: auto;
}
@theme {
  --font-poppins: Quicksand, sans-serif;
  --breakpoint-2xl: 1320px;
  --color-primary: #1f509a;
  --color-secondary: #64748b;
  --color-whatapp: #25d366;
  --color-dark: #0f172a;
  --color-code: #282c34;
}
@custom-variant dark (&:is(.dark *));
